@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active {
      background-color: transparent !important;
      color: white !important;  /* Set text color */
      -webkit-text-fill-color: white !important; /* Ensures autofill text color */
      transition: background-color 9999s ease-in-out;
      caret-color: white !important; /* White cursor */
    }
  }

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background: linear-gradient(to bottom, #040810, #021717);
    min-height: 100vh;
    margin: 0;
}


.nrml-text {
    @apply text-[16px]
}

.hover-text {
    @apply hover:text-custom-teal transition-all text-[16px]
}

.border-btn{
    @apply border border-custom-teal text-custom-teal font-bold px-6 py-2 rounded-full
}

.bg-btn{
    @apply border border-custom-teal bg-custom-teal text-black font-bold px-6 py-2 rounded-full
}